    <h3>Registration Form</h3>
    <hr/>
   <form #userForm="ngForm" (ngSubmit)="handleForm()">
     
    <div class="form-group">
        <label>First Name</label>
        <input name="fname" [(ngModel)]="registration.fname" class="form-control"/>
    </div>
    <div class="form-group">
        <label>Last Name</label>
        <input name="lname" [(ngModel)]="registration.lname" class="form-control"/>
    </div>
    <div class="form-group">
        <label>City</label>
        <input name="city" [(ngModel)]="registration.city" class="form-control"/>
    </div>
    <button class="m-3 btn btn-primary">Register</button>
  </form>
